# Lecture Notes 1: Basics

# Lists

In [51]:
# basic indexing
l = [4,2,5,54,3,6,8,9]
print(l[1])

2

In [52]:
# sliceing
print(l[1:3], l[:3], l[5:], l[:-1], l[-1:], l[0:], l[:0], l[:-2])

[2, 5] [4, 2, 5] [6, 8, 9] [4, 2, 5, 54, 3, 6, 8] [9] [4, 2, 5, 54, 3, 6, 8, 9] [] [4, 2, 5, 54, 3, 6]

In [53]:
# rpetition
3 * [1,3]

[1, 3, 1, 3, 1, 3]

In [54]:
# Number of elements
print(len(l))

8

# Strings

In [55]:
# c oncatenation
"hello" + " " + "world"

'hello world'

In [56]:
# Repetition
3 * "Python "

'Python Python Python '

In [57]:
# String formating 
"Today is {}, {}th of {}".format("Sunday", 11, "November")

'Today is Sunday, 11th of November'

In [58]:
# Number formats
print("{:.2f}".format(4/3))

1.33

In [59]:
print("{:.3f}".format(4/3))

1.333

In [60]:
int(4.0)/ int(3.0), int(4.0/ 3.0)

(1.3333333333333333, 1)

In [61]:
int(True), int(False)

(1, 0)

#### Operators can be applied to more complex types of bojects, and the way they apply depend on these types:

In [62]:
[1, 3, 5] + [2, 4, 6]

[1, 3, 5, 2, 4, 6]

# Booleans

In [63]:
a = True 
not a

False

In [64]:
True or False, True and False

(True, False)

In [65]:
2 == 2, 2 == 4, 2 != 4, 2 is not 4

(True, False, True, True)

In [66]:
"hello" is "world", "hello" is "hello"

(False, True)

In [67]:
1 * 2 + 3 * 4

14

In [68]:
1 * (2 + 3) * 4

20

# Functions

In [69]:
def f(x, y):
    z = (x ** 2 + y ** 2) ** 0.5
    return z

In [70]:
f(3, 4)

5.0

#### A function can be seen as a variable

In [71]:
g = lambda x, y: (x ** 2 + y ** 2) ** 0.5

In [72]:
g(3, 4)

5.0

In [73]:
#Reassign function to varibale
my_function = g
my_function(3, 4)

5.0

#### A function does not even need a name

In [74]:
(lambda x, y: (x ** 2 + y ** 2) ** 0.5)(3,4)

5.0

# Dictionaries

#### create a data point (e.g. a fruit)

In [75]:
 x = {
     'color': 'green',
     'size': 'medium'
 }

In [76]:
type(x)

dict

# Analyze this data point

In [77]:
x['color']

'green'

# Classifiying Fruits: Condnitional Expressions

#### A decesion tree for watermelon vs. apple vs. other

In [78]:
def classify(x):
    if x['color'] == 'green':
        decision = 'watermelon'
        if x['size'] == 'big':
            decision == 'watermelon'
        elif x['size'] == 'medium':
            decision = 'apple'
    else:
        decision = 'other'
    return decision

In [79]:
x_new = {'color': 'green', 'size': 'big'}
classify(x_new)

'watermelon'

In [80]:
classify({'color': 'green', 'size': 'medium'})

'apple'

In [81]:
classify({'color': 'red', 'size': 'small'})

'other'

In [82]:
#Ternary operator
def compare(x, y):
    return "same" if x == y else "different"

print(compare(1,4))
print(compare(3,3))

different
same

# Iterators


#### Making preditions for multiple observations

In [83]:
for  i in range(5):
    print(i)

0
1
2
3
4

In [84]:
for i in [2, 5, 6]:
    print(i)

2
5
6

In [85]:
data = [
    {'color': 'green', 'size': 'big'},
    {'color': 'yellow', 'shape': 'round', 'size': 'big'},
    {'color': 'red', 'size': 'medium'},
    {'color': 'green', 'size': 'big'},
    {'color': 'red', 'size': 'small', 'taste': 'sour'},
    {'color': 'greem', 'size': 'small'},
    {'color': 'green', 'size': 'medium'}
]
type(data), type(data[0])

(list, dict)

In [86]:
results = list()
for itr in data:
    results.append(classify(itr))
print(results)

['watermelon', 'other', 'other', 'watermelon', 'other', 'other', 'apple']

#### The same can be achieved with list comprehentsion

In [87]:
print([classify(x) for x in data])

['watermelon', 'other', 'other', 'watermelon', 'other', 'other', 'apple']

#### This can also be combined with conditions:

In [88]:
print([classify(x) for x in data if x['color'] == 'green'])

['watermelon', 'watermelon', 'apple']

## ounting the number of objects "watermelon" in the data

In [89]:
result = [classify(x) for x in data]

count = 0
for r in result:
    if r == 'watermelon':
        count += 1 # or the normal way
                   # count = count + 1
print(count)

2

#### Or in the "pythonic" way using list comprehension

In [90]:
sum([classify(x) == 'watermelon' for x in data])

2

# Reading Data from a File


#### Content of file scores.txt that lists the performance of players at a certain game:


`80,55,16,26,37,62,49,13,28,56`

`43,45,47,63,43,65,10,52,30,18`

`63,71,69,24,54,29,79,83,38,56`

`46,42,39,14,47,40,72,43,57,47`

`61,49,65,31,79,62,9,90,65,44`

`10,28,16,6,61,72,78,55,54,48`

#### The following program reads the file and stores the scores into a list `with`statement takes care of opening and closing the file.

In [91]:
with open("c:\\Users\\Ahmed Zaky\\Desktop\PyML\\Lecture 15 Oktober - 21 Oktober\\Exercise Sheet 1\\scores.txt") as f:
    
    D = list()
    for line in f:
        D.extend([float(x) for x in str.split(line[:-1], ',')])

print(D)

[80.0, 55.0, 16.0, 26.0, 37.0, 62.0, 49.0, 13.0, 28.0, 56.0, 43.0, 45.0, 47.0, 63.0, 43.0, 65.0, 10.0, 52.0, 30.0, 18.0, 63.0, 71.0, 69.0, 24.0, 54.0, 29.0, 79.0, 83.0, 38.0, 56.0, 46.0, 42.0, 39.0, 14.0, 47.0, 40.0, 72.0, 43.0, 57.0, 47.0, 61.0, 49.0, 65.0, 31.0, 79.0, 62.0, 9.0, 90.0, 65.0, 44.0, 10.0, 28.0, 16.0, 6.0, 61.0, 72.0, 78.0, 55.0, 54.0, 48.0]

#### Writing  results back to a file

In [92]:
import os
try:
    #Make sure not to overwrite an existing file
    outfile = 'c:\\Users\\Ahmed Zaky\\Desktop\PyML\\Lecture 15 Oktober - 21 Oktober\\Exercise Sheet 1\\socres_new.txt'
    if os.path.exists(outfile):
        raise Exception("file '{}' already exists.".format(outfile))
    
    with open(outfile, 'w') as f:
        f.write(str(D))
except Exception as e:
    print("Exception occured: {}".format(e))

Exception occured: file 'c:\Users\Ahmed Zaky\Desktop\PyML\Lecture 15 Oktober - 21 Oktober\Exercise Sheet 1\socres_new.txt' already exists.

# Classes

Let's separate our data into training and test data

In [93]:
Dtrain = D[:20]
Dtest = D[20:]

Classes are useful for modeling anything that has an internal state, for example, machine learning models. The model below classifies whether a score is above/below the average.

In [97]:
class Classifier:
    def train(self, x):
        self.avg = sum(x) / len(x)
    
    def predict(self, x):
        return ['above' if datum > self.avg else 'below' for datum in x]

Build the classifier.

In [98]:
c = Classifier()

Train the classifier and inspect what the classifier has learned.

In [99]:
c.train(Dtrain)
print(c.avg)

41.9

Apply the model to the test data verifies that it works correctly:

In [100]:
Ytest = c.predict(Dtest)
list(zip(Dtest[:5], Ytest[:5]))

[(63.0, 'above'),
 (71.0, 'above'),
 (69.0, 'above'),
 (24.0, 'below'),
 (54.0, 'above')]